.header{
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 4;
    box-sizing: border-box;
    mix-blend-mode: difference;
    color: #fff;
    transition: all .5s;
}
.container .row{
    display: flex;
    height: 100%;
    padding: 0 32px;
    box-sizing: border-box;
  }
.logo{
    color: #fff;
}
.header .logo a {
    font-size: 1rem;
    letter-spacing: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family: mont, serif;
    cursor: pointer;
    color: #fff;
}

.nav{
    width: 25px;
    cursor: pointer; 
}
.nav span{
    margin-bottom: .3rem;
    height: 2px;
    width: 100%;
    display: block;
}
.nav span:last-child{
    margin-left: 4px;
}
@media all and (max-width: 425px){
    .nav{
        width: 20px;
    }
    .container.row{
        padding: 0 16px;
      }
}